In [90]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [3]:
# get the page html
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)
# parse with bs4
soup = BeautifulSoup(page.content,'html.parser')

In [7]:
# the whole table is in tbody (not divided in thead and tbody like in chrome). 
## however, headers are in the tg 'th' and data in the tag 'td' 
tablesoup = soup.select('table tbody')[0]

In [16]:
# table headers
columns = [x.get_text().replace('\n','') for x in tablesoup.select('tr')[0].select('th')]
columns

['Postcode', 'Borough', 'Neighbourhood']

In [15]:
# table content
[x.get_text().replace('\n','') for x in tablesoup.select('tr')[1].select('td')]

['M1A', 'Not assigned', 'Not assigned']

In [21]:
tablesoup.select('tr')[1].select('td')[2].get_text().replace('\n','')

'Not assigned'

In [88]:
# extract table content
tb_content = [y.get_text().replace('\n','') for x in tablesoup.select('tr')[1:] for y in x.select('td')]
print('cells: %i' %len(tb_content))
print('rows: %.1f' %(len(tb_content)/3))

cells: 867
rows: 289.0

In [102]:
# extract columns
ttable = pd.DataFrame()
for i in range(3):
    ttable[columns[i]] = [tb_content[x] for x in np.arange(i,len(tb_content),3)]
ttable.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [103]:
# group by postcode
ttable.groupby('Postcode').count().sort_values('Borough',ascending=False).head()

          Borough  Neighbourhood
Postcode
M8Y             8              8
M9V             8              8
M5V             7              7
M8Z             5              5
M9B             5              5

In [105]:
join(['a','b'])

NameError: name 'join' is not defined

URL list from Tuesday, Dec. 11 2018 0:55 AM
To copy this list, type [Ctrl] A, then type [Ctrl] C. 

Installing and using Git and GitHub on Ubuntu Linux: A beginner's guide
https://www.howtoforge.com/tutorial/install-git-and-github-on-ubuntu/


Git - git Documentation
https://git-scm.com/docs/git

Git - gittutorial Documentation
https://git-scm.com/docs/gittutorial

Cloning a repository - User Documentation
https://help.github.com/articles/cloning-a-repository/#platform-linux

rareal (Romulo Areal) · GitHub
https://github.com/rareal?tab=overview&from=2018-12-01&to=2018-12-11

Git - Working with Remotes
https://git-scm.com/book/en/v2/Git-Basics-Working-with-Remotes

Segmenting and Clustering Neighborhoods in Toronto | Coursera
https://www.coursera.org/learn/applied-data-science-capstone/peer/I1bDq/segmenting-and-clustering-neighborhoods-in-toronto/submit

List of postal codes of Canada: M - Wikipedia
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

Python Web Scraping Tutorial using BeautifulSoup
https://www.dataquest.io/blog/web-scraping-tutorial-python/

Parsing HTML Tables in Python with BeautifulSoup and pandas – Scott Rome – Math Ph.D. who works in Machine Learning
https://srome.github.io/Parsing-HTML-Tables-in-Python-with-BeautifulSoup-and-pandas/

Home
http://138.68.188.12:8888/tree/Coursera_Capstone

Toronto_Neighborhoods
http://138.68.188.12:8888/notebooks/Coursera_Capstone/Toronto_Neighborhoods.ipynb